<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../sass/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../sass/css/style.css" type="text/css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ReadR Signup</title>
</head>
<body>
    <header id='template2-head'>
        <a href="#"><i id='button-back' class='material-icons left'>keyboard_backspace</i></a>
    </header>
    <main id='template2-main'>
        <a id='link-login' href="#">Already a member? Login here</a>
    </main>
    <footer id='template2-footer'>
        
    </footer>
</body>
</html>