<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>ReadR</title>
        <link rel="stylesheet" href="../../sass/css/style.css" style="text/css"/>
    </head>
    <body>
        <div class="container" id="container-yellow">
            <header id="header1">
                <i class="material-icons right" id="burger">menu</i>
            </header>
            <div class="body-light-yellow"></div>
        </div>
    </body>
    
</html>