$pink: (
    "base":     #f0108a,
    "dark":     #990757,
    "light":    #f3e8ee
);

$yellow: (
    "base":     #f9cf5c ,
    "dark":     #d4a935,
    "light":     #fef7e1
);
 
$blue: (
    "base":     #15627d,
    "dark":     #011936,
    "light":    #2384a6, 
);

$white: (
    "base":     #ffffff
);
